$footer-height-small: 4.5em;
$footer-height-large: 6em;

.footer{
	position: fixed;
	bottom: 0;
	height: $footer-height-small;
	width: 100%;
	padding: 0 10vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $color_base;

	img{
		width: 35vw;
	}
	:nth-child(1){
		grid-area: DiBa;
	}
	:nth-child(2){
		grid-area: MAE;
	}

	@include media-query(tablet-portrait-up){
		img{
			width: 25vh;
		}
	}
	@include media-query(tablet-landscape-up){
		height: $footer-height-large;
		padding: 0 30vw;
	}
}