$main_tile_size_large: calc((100vh - #{$footer-height-large}) / 9);

.main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: 12% 1fr;
	grid-template-rows: calc(100vh - #{$footer-height-small}) 0fr;
	grid-template-areas:
		"menu content"
		"footer footer";

	&__content{
		grid-area: content;
		height: 100%;
		width: 100%;
		overflow: auto;
	}

	&__header{
		display: none;
	}

	&__menu{
		grid-area: menu;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(calc(#{$img-menu-items} + 1), 1fr);

		>:nth-child(1){
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				position: absolute;
				object-fit: none;
			}
		}
	}

	&__footer{
		grid-area: footer;
		position: relative;
	}

	@include media-query(tablet-portrait-up){
		grid-template-columns: $main_tile_size_large 1fr;
		grid-template-rows: $main_tile_size_large calc(#{$main_tile_size_large} * 8) 0fr;
		grid-template-areas:
			"header header"
			"menu content"
			"footer footer";

		&__header{
			grid-area: header;
			display: unset;
			width: 100%;
			height: 100%;
			overflow: hidden;

			img{
				width: 100%;
			}
		}

		&__menu{
			grid-area: menu;
			grid-template-rows: repeat(#{$img-menu-items}, 1fr);

			>:nth-child(1){
				display: none;
			}
		}

		&__content{
			grid-area: content;
		}

		&__footer{
			grid-area: footer;
		}
	}
}