$timeline_period_width_small: 88vw;
$timeline_period_width_large: 30vw;
$timeline_line_height: 7vh;

.timeline{
	height: 100%;
	padding-top: 1em;
	position: relative;
	display: flex;

	&__intro{
		height: 100%;
		width: $timeline_period_width_small;

		padding: 2em;
		padding-bottom: $timeline_line_height;

		p{
			font-size: 1.9vh;
		}
		img{
			margin: auto
		}
	}

	&__snippet{
		height: 100%;
		width: $timeline_period_width_small;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 0fr $timeline_line_height;
		grid-template-areas:
			"."
			"text"
			".";

		p{
			grid-area: text;
			font-size: 2.1vh;
			text-align: start;
			width: 100%;
			height: 100%;
			padding: 2em 10%;
		}
	}

	&__period{
		height: 100%;
		width: $timeline_period_width_small;
		//margin-right: 2em;
		display: grid;
		grid-template-columns: 1em 1fr 60% 1em;
		grid-template-rows: 3fr .3em 0.8fr $timeline_line_height;
		grid-template-areas:
			". img img ."
			". . . ."
			". line caption ."
			". . name .";

		&-img{
			grid-area: img;
			position: relative;
			img{
				position: absolute;
				bottom: 0;
				left: 40%;
				transform: translateX(-40%);
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-caption{
			grid-area: caption;
			display: block;
			padding: .7em;
			padding-bottom: .8em;
			text-align: start;

			p{
				font-size: 1em;
			}
		}
		&-name{
			grid-area: name;
			display: flex;
			text-align: start;
			align-items: center;
			span{
				margin: 0;
				font-size: 1.6em;
				font-weight: 600;
				color: $color_dark;
				white-space: nowrap;
				text-transform: uppercase;
			}
		}
		&-line{
			grid-area: line;
			width: 100%;
			height: 100%;
			border-bottom-right-radius: 1em;
			border-style: none solid solid none;
			border-color: $color_dark;
			border-width: 5px;
		}
	}

	&__line{
		content: "";
		height: 0;
		width: 100%;
		position: absolute;
		bottom: $timeline_line_height;
		border-bottom-style: solid;
		border-color: $color_dark;
		border-width: 5px;
	}

	@include media-query(tablet-portrait-up){
		&__intro{
			width: calc(100vw - #{$main_tile_size_large});
			padding: 10vh;
			p{
				font-size: 1.3em;
			}
		}
		&__snippet{
			width: $timeline_period_width_large;
			p{
				padding-right: 10vh;
			}
		}
		&__period{
			width: $timeline_period_width_large;
		}
	}
}