$timeline_period_width_small: 88vw;
$timeline_period_width_large: 20vw;

.timeline{
	height: 100%;
	position: relative;

	&__title{
		height: 15%;
		display: flex;
		align-items: center;
		justify-content: right;
		padding: 1em 5em;
		h2{
			display: block;
			text-transform: uppercase;
			font-size: 5vh;
			margin: 0;
		}
	}

	&__content{
		height: 85%;
		width: 100%;
		display: flex;
	}

	&__intro{
		height: 100%;
		width: $timeline_period_width_small;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 10vh;
		grid-template-areas:
			"text"
			".";

		p{
			grid-area: text;
			font-size: 2.1vh;
			text-align: start;
			width: 100%;
			height: 100%;
			padding: 10%;
			padding-left: 0;
		}
	}

	&__period{
		height: 100%;
		width: $timeline_period_width_small;
		//margin-right: 2em;
		display: grid;
		grid-template-columns: 1em 1fr 60% 1em;
		grid-template-rows: 3fr .3em 1fr 10vh;
		grid-template-areas:
			". img img ."
			". . . ."
			". line caption ."
			". . name .";

		&-img{
			grid-area: img;
			position: relative;
			img{
				position: absolute;
				bottom: 0;
				left: 40%;
				transform: translateX(-40%);
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-caption{
			grid-area: caption;
			display: block;
			padding: .7em;
			padding-bottom: .8em;
			text-align: start;

			p{
				font-size: 1em;
			}
		}
		&-name{
			grid-area: name;
			display: flex;
			text-align: start;
			align-items: center;
			span{
				margin: 0;
				font-size: 1.6em;
				font-weight: 600;
				color: $color_dark;
				white-space: nowrap;
				text-transform: uppercase;
			}
		}
		&-line{
			grid-area: line;
			width: 100%;
			height: 100%;
			border-bottom-right-radius: 1em;
			border-style: none solid solid none;
			border-color: $color_dark;
			border-width: 5px;
		}
	}

	&__line{
		content: "";
		height: 0;
		width: 100%;
		position: absolute;
		bottom: 10vh;
		border-bottom-style: solid;
		border-color: $color_dark;
		border-width: 5px;
	}

	@include media-query(tablet-portrait-up){
		&__intro{
			width: $timeline_period_width_large;
		}
		&__period{
			width: $timeline_period_width_large;
		}
	}
}